# Escludi __pycache__
__pycache__/
**/__pycache__/

# Escludi file specifico
not_active_group.txt
groups.csv


# Escludi py.typed
py.typed

prova_confing.config
*.session
data_local.db
temp_local.db
alembic.ini
example.log
*.pyc